version: '3.3'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - "discovery.type=single-node"
  db:
    image: mysql/mysql-server:5.7
    depends_on:
      - elasticsearch
    environment:
      MYSQL_DATABASE: database_name
      MYSQL_USER: username
      MYSQL_PASSWORD: yourpassword
  app_code:
    depends_on:
      - db
    image: app_name:latest
    ports:
      - "8000:5000"
    environment:
      - SECRET_KEY=<yoursecretkey>
      - MAIL_SERVER=smtp.googlemail.com
      - MAIL_PORT=587
      - MAIL_USE_TLS=true
      - MAIL_USERNAME=<your_email_addr>
      - MAIL_PASSWORD=<pwd>
      - MS_TRANSLATOR_KEY=<api_key>
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - DATABASE_URL=mysql+pymysql://username:yourpassword@dbserver/starkamaniacdatabase_name
    links:
      - elasticsearch:elasticsearch
      - db:dbserver
